extends layout

block content
  h1 Here you can get all your code's examples
  input#search(placeholder="enter your name" type="text" name="username")
  button#view(type="submit") Submit
  
  div.container
    div.code(title="click for open")
      p.id 6464843213184653
      p.date 45.61.89
      //- a.open(href="/shortlink?shortlink=58a2d21cf10536313dae155b") open
  script(src="javascripts/viewAll.js")
