extends layout

block content
  div.head
    div.user
      h2#usr Guest
      input#uid(value='new' style="display: none")
      div#login
        form(method="post" action="/login")
          input(type="text" name="cren" required)
          br
          button#let(type="submit") Login/Register
    div.title
      h2.name Unnamed

  div.container
    div
      form(method="GET" action="/shortlink")
        input#short-link(name="shortlink" placeholder="enter short link" required)
        button#go(type="submit") GO
      div
        input#linkto(readonly)
    div.code
      textarea#code-area(width="640px")
        = source
    div.navigation
      .save
        form(method="post")
          button#save Save
      .run
        button#run Run >
    div#runner

    div.log
      textarea#log(width="640px" readonly)

  script(src="javascripts/main.js")
